@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");
$blue: #005b87;
$red: #ba2613;
$yellow: #ffac24;
$gray: #1c1c1c;

@mixin stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
@keyframes slidein {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slidein1 {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  40% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes transition {
  0% {
    height: 100vh;

    opacity: 1;
  }
  100% {
    height: 0vh;
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  // background-image: url("../img/slider-1.jpg");
}
.text-light-muted {
  color: rgb(186, 186, 186);
}
.primary-font {
  font-family: "Bebas Neue", cursive;
}
.secondary-font {
  font-family: "Open Sans", sans-serif;
}
.blue {
  color: $blue;
}
.red {
  color: $red;
}
.yellow {
  color: $yellow;
}
.about-bg {
  background-image: url("../img/slider-1.jpg");
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-bg {
  background-image: url("../img/slider-3.jpg");
  background-attachment: fixed;
  // position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

// .dark-overlay {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.786);
//   z-index: -1;
// }
.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.552);
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  // background-color: $gray;
  // background-image: url("../img/slider-1.jpg");
}
#preloader {
  position: fixed;
  z-index: 100;
  background: #000;
  width: 100%;
  height: 100%;
  display: flex;
  //   opacity: 0;
  justify-content: center;
  transition: all 0.5s;
  align-items: center;
  img {
    width: 100px;
    margin: 0 auto;
  }
}
#transition {
  position: absolute;
  z-index: 100;
  width: 100vw;
  opacity: 0;
  height: 100vh;
  background-color: #000;
  animation: transition 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.underline {
  width: 0%;
  transition: all 0.5s ease-out;
  height: 1.5px;
  background-color: #fff;
}
.btn-wrap {
  position: relative;
}
.primary-btn {
  padding: 15px 25px;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  transition: all 0.24s;
  //   border-radius: 50px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}
nav {
  .burger {
    font-size: 40px;
    // color: #fff !important;
  }
  z-index: 48;
  .navbar-brand {
    img {
      width: 80px;
    }
  }
  .nav-item {
    &:hover .underline {
      width: 100%;
    }
    .active {
      &:hover .underline {
        width: 0%;
      }
      .underline {
        width: 100%;
      }
    }
    .nav-link {
      letter-spacing: 3px;
      font-weight: lighter !important;
      color: #fff !important;
    }
  }
  .dropdown-menu {
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border: 1px solid white;
    // border-top: 3px solid $yellow;
    // min-width: 230px;
    padding: 0 !important;
    .dropdown-item {
      color: rgb(255, 255, 255);
      font-size: 16px;
      letter-spacing: 1px;
      padding: 5px 15px;
      &:hover {
        color: rgb(255, 255, 255);
        background-color: transparent;
      }
      .iconify {
        // display: none !important;
        transition: all 0.3s;
        opacity: 0;
      }
      &:hover .iconify {
        // display: inline !important;
        opacity: 1;
      }
    }
  }
}

#carousel {
  height: 100vh;

  #carousel-slider {
    .carousel-inner {
      height: 100vh;
      .slider-text {
        width: 60%;
        margin: 0 auto;
        .text-inner {
          h1 {
            line-height: 90px !important;
          }
        }
        // height: 100%;
        // z-index: 5;
      }
      .carousel-item {
        .slider-img {
          width: 45%;
          position: absolute;
          // height: 300px;
          top: 50%;
          right: -10%;
        }
        .text-inner {
          h1 {
            font-size: 140px;
            animation: slidein 1s ease-in;
            text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.36);
            span {
              @include stroke();
              text-shadow: none;
              font-size: 100px;
            }
          }
          p {
            animation: slidein1 1.3s ease-in;
          }
        }
        video {
          position: relative;
          z-index: -1;
          height: 100vh !important;
          object-fit: cover;
        }
      }
    }
  }
}
#cover {
  // background-image: url("../img/slider-1.jpg");
  max-width: 100% !important;
  background-attachment: fixed;
  height: 500px;
  // overflow-x: hidden;
  // overflow-y: visible;
  .cover-img {
    img {
      overflow-x: hidden;
      position: absolute;
      top: -75%;
      right: 0%;
      width: 35rem;
    }
  }
  .cover-text {
    h1 {
      letter-spacing: 3px;
      span {
        @include stroke();
        -webkit-text-stroke-color: $yellow;
      }
    }
  }
}
#about-img {
  .img-wrap {
    position: relative;
    width: 60%;
    margin: 0 auto;
    img {
      // position: absolute;
      // object-fit: cover;
      // &:nth-child(1) {
      //   width: 25%;
      //   // height: 25%;
      //   // top: 30%;
      //   left: 20%;
      //   top: 15%;
      //   z-index: 3;
      // }
      // &:nth-child(2) {
      //   width: 50%;
      //   left: 35%;
      //   top: 20%;
      // }
      // &:nth-child(3) {
      //   width: 25%;
      //   left: 65%;
      //   top: 55%;
      // }
    }
    .main-img {
      .secondary-img {
        position: absolute;
        // width: 100%;
        z-index: 10;
        &:nth-child(2) {
          width: 40%;
          left: -10%;
          top: -10%;
        }
        &:nth-child(3) {
          width: 40%;
          right: -10%;
          bottom: -10%;
        }
      }
    }
  }
}

#team {
  h2 {
    span {
      @include stroke();
      // color: $yellow;
      -webkit-text-stroke-color: $yellow;
    }
  }
  h3 {
    letter-spacing: 2px;
    margin-top: -20px;

    transition: all 0.4s;
  }
  .crew {
    &:hover {
      img {
        transform: scale(1.04);
      }
      h3 {
        transform: translateX(10px);
      }
    }
    img {
      transition: all 0.4s;
    }
    .crew-img-wrap {
      position: relative;
      overflow: hidden;
      z-index: -1;
      .gradient-overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(
          356deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }
}
#about-text {
  p {
    // font-size: 20px;
  }
}
#features {
  .container-fluid {
    .row {
      .feature {
        &:hover {
          cursor: pointer;
          h3 {
            color: $yellow !important;
          }
        }
        .iconify {
          font-size: 4.5rem !important;
        }
        h3 {
          transition: all 0.2s;
          font-size: 1.7rem;
          letter-spacing: 1px;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
footer {
  background-color: #0c0c0c;
  img {
    width: 100px;
  }
  p {
    // font-size: 18px;
    margin-left: 10px;
    letter-spacing: 1px;
    a {
      transition: all 0.2s;
      &:hover {
        color: white !important;
      }
    }
  }
  h3 {
    letter-spacing: 1px;
  }
}
#contact {
  position: relative;
  height: 650px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-image: url(../img/slider-3.jpg);
  background-size: cover;
  h1 {
    span {
      @include stroke();
      -webkit-text-stroke-color: $yellow;
    }
  }
  .contact-content {
    z-index: 1;
    // position: absolute;
  }
  .contact-form {
    input[type="submit"] {
      background-color: transparent;
      transition: all 0.2s;
      letter-spacing: 1px;
      &:hover {
        background-color: #fff;
        color: #000 !important;
      }
    }
    input[type="text"],
    input[type="email"],
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1.5px solid rgb(144, 144, 144);
      border-radius: 0;
      transition: all 0.3s;

      &:focus {
        color: #fff;
        border-bottom: 1.5px solid rgb(255, 255, 255);
        box-shadow: none;
      }
      &::placeholder {
        color: #ffffff;
      }
    }
    textarea {
      height: 200px;
    }
  }
}
@media screen and(max-width:1025px) {
  #carousel {
    #carousel-slider {
      .carousel-inner {
        .carousel-item {
          .slider-img {
            width: 50%;
            top: 55%;
          }
          .slider-text {
            h1 {
              font-size: 120px;
              span {
                font-size: 80px;
              }
            }
          }
        }
      }
    }
  }
  #cover {
    .cover-img {
      img {
        width: 35rem;
      }
    }
  }
  #about-text {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.2rem !important;
    }
  }
  #features {
    .container-fluid {
      .row {
        .feature {
          .iconify {
            font-size: 3.5rem !important;
          }
          h3 {
            transition: all 0.2s;
            font-size: 1.4rem !important;
            letter-spacing: 1px;
          }
          p {
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}
@media screen and(max-width:769px) {
  nav {
    background-color: #fff;
    .nav-item {
      .nav-link {
        color: #000 !important;
      }
    }
    .dropdown-menu {
      border: 1px solid #000;
      .dropdown-item {
        color: #000;
      }
    }
  }
  #carousel {
    #carousel-slider {
      .carousel-inner {
        .carousel-item {
          .slider-img {
            width: 60%;
            top: 60%;
          }
          .slider-text {
            margin: 0 100px;
            p {
              font-size: 14px;
            }
            .text-inner {
              .btn-wrap {
                // margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
  #contact {
    // height: 90vh;
    padding: 50px 0px;
    height: 90vh;
    align-items: flex-end;
  }
  #cover {
    height: 370px;
    align-items: flex-end !important;

    .cover-img {
      img {
        width: 30rem;
      }
    }
  }
  #about-text {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.1rem !important;
    }
  }
  #team {
    .crew {
      h3 {
        font-size: 26px !important;
      }
    }
  }
  footer {
    p {
      margin-left: 0;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 426px) {
  nav {
    .navbar-brand {
    }
  }
  #carousel {
    #carousel-slider {
      .carousel-inner {
        .carousel-item {
          .slider-img {
            width: 80%;
            top: 70%;
          }
          .slider-text {
            width: 80%;
            margin: 0 10%;
            h1 {
              font-size: 80px;
              span {
                font-size: 60px;
              }
            }
            p {
              font-size: 12px;
            }
            // margin: 0 50px;
          }
        }
      }
    }
  }

  #cover {
    .cover-img {
      img {
        width: 80%;
        // left: 10%;
        right: 0;
        top: -55%;
      }
    }
  }
  #about-text {
    .container-fluid {
      .row {
        .border-end {
          border: none !important;
        }
      }
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem !important;
    }
  }
  #features {
    .container-fluid {
      .row {
        .feature {
          .iconify {
            font-size: 4rem !important;
          }
          h3 {
            transition: all 0.2s;
            font-size: 1.9rem !important;
            letter-spacing: 1px;
          }
          p {
            font-size: 1rem !important;
          }
        }
      }
    }
  }
  footer {
    img {
      margin: 0 auto;
    }
    .footer-logo {
      display: flex;
      justify-content: center;
    }
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 16px;
    }
    a {
      text-align: center;
    }
  }
  .social-footer {
    display: flex;
    justify-content: center;
  }
  .copyright {
    text-align: center !important;
    margin-top: 10px;
  }
  #contact {
    height: 100vh;
  }
}
@media screen and(max-width:376px) {
  #carousel {
    #carousel-slider {
      .carousel-inner {
        .carousel-item {
          .slider-img {
            width: 90%;
            top: 80%;
          }
        }
      }
    }
  }
  #cover {
    .cover-img {
      img {
        width: 100%;
        left: 0%;
        top: -60%;
      }
    }
  }
}
@media screen and(max-width:321px) {
  #carousel {
    #carousel-slider {
      .carousel-inner {
        .carousel-item {
          .slider-img {
            width: 90%;
            top: 70%;
          }
        }
      }
    }
  }
  #cover {
    .cover-img {
      img {
        width: 100%;
        left: 0%;
        top: -55%;
      }
    }
  }
}
